*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{font-size: 10px;}
body{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
h2{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
p{
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
}
section{
    margin-bottom: 10rem;
}
footer{
    background-color: orange;
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding: .5rem;
}
.flex-display{
    display: flex;
}
.half-width{
    width: 50%;
}
.btn-primary{
    display: inline-block;
    color: white;
    background-image: linear-gradient(to right, lightsalmon, tomato);
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 3px;
    font-weight: 700;
}
.btn-primary:active{
    transform: scale(.97);
}
.welcome-section img {
    width: 80%;
}
.welcome-texts{
    padding: 5rem 12rem;
}
.welcome-texts span{
    color: orange;
}
.welcome-section{
    background-image: url('img/top-banner.png');
    background-repeat: no-repeat;
}
.welcome-texts p{
    margin-bottom: 1.5rem;
}
.hera-pheri{
    background-image: url('img/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.hera-pheri img{
    padding-left: 12rem;
}
.hera-pheri p{
    padding-right: 12rem;
    margin-bottom: 1.5rem;
}
.hera-pheri-text{
    padding-top: 10rem;
}
.full-width{
    width: 100%;
}
.experience{
    background-image: url('img/exp-bg.png');
    background-repeat: no-repeat;
    background-position-y: center;
}
.experience-card{
    width: 40%;
    padding: 5rem 5rem 10rem;
    box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .5);
    border-left: .8rem solid;
}
.experience-card:first-child{
    margin: 0 3% 0 7% ;
    border-image: linear-gradient(to top, lightsalmon, tomato) 1;
}
.experience-card:last-child{
    margin: 0 7% 0 3% ;
    border-image: linear-gradient(to top, steelblue, blue) 1;
}
.experience h3{
    color: orange;
}